@inherits ProjectDetailComponentBase

<div class="d-flex h-100">
    <div class="flex-shrink-1">
        <div class="d-flex flex-column bg-secondary h-100">
            <Button>
                <i class="fa fa-bars fa-2x text-white"></i><br/>
            </Button>
            <TabBarComponent Model="Tabs" />
        </div>
    </div>
    <div class="flex-fill">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <Accordion>
                    <Card>
                        <CardHeader Class="py-0">
                            <div class="d-flex">
                                <Heading Size="HeadingSize.Is5">
                                    <Button Clicked="@ShowImages.Toggle">Images</Button>
                                </Heading>
                                <CollapseButtonComponent Class="ml-auto" Model="@ShowImages" Clicked="@ShowImages.Toggle" />
                            </div>
                        </CardHeader>
                        <Collapse IsOpen="@ShowImages.Show">
                            <CardBody>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </CardBody>
                        </Collapse>
                    </Card>
                    <Card>
                        <CardHeader Class="py-0">
                            <div class="d-flex">
                                <Heading Size="HeadingSize.Is5">
                                    <Button Clicked="@ShowAudio.Toggle">Audio</Button>
                                </Heading>
                                <CollapseButtonComponent Class="ml-auto" Model="@ShowAudio" Clicked="@ShowAudio.Toggle" />
                            </div>
                        </CardHeader>
                        <Collapse IsOpen="@ShowAudio.Show">
                            <CardBody>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </CardBody>
                        </Collapse>
                    </Card>
                </Accordion>
            </div>
            <div class="col-sm-12 vh-100 col-md-9">
                <div class="d-flex h-100 align-items-center flex-column" style="margin-bottom: -100px;">
                    <div class="">Top</div>
                    <div class="mb-auto flex-fill">
                        <div class="bg-danger" style="height: 450px; width: 800px; z-index:-300;">
                            <div class="bg-primary" @onclick="@UTest" style="width: 50px; height: 100px; position: relative; top: @Test.Ys; left: @Test.Xs;"></div>
                        </div>
                    </div>
                    <div class="">Bottom</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-shrink-1">
        <div class="d-flex flex-column">
            <Button Class="bg-light" Clicked="@Preview">
                <i class="fas fa-search"></i><br />
                Undo
            </Button>
            <Button Class="bg-light" Clicked="@Undo">
                <i class="fas fa-undo"></i><br />
                Undo
            </Button>
            <Button Class="bg-light" Clicked="@Redo">
                <i class="fas fa-redo"></i><br />
                Redo
            </Button>
        </div>
    </div>
</div>